<nav class="navbar navbar--{{this.screenResolution}} navbar--{{this.expandedStateClassSuffix}}">
  <button
    class="navbar__expand-button navbar__expand-button--{{this.expandedStateClassSuffix}}"
    type="button"
    {{on "click" this.toggleExpanded}}
  >
    {{#if this.isExpanded}}
      <FaIcon @icon="chevron-left" class="navbar__toggle" />
      <FaIcon @icon="chevron-left" class="navbar__toggle" />
      <FaIcon @icon="chevron-left" class="navbar__toggle" />
    {{else}}
      <FaIcon @icon="chevron-right" class="navbar__toggle" />
      <FaIcon @icon="chevron-right" class="navbar__toggle" />
      <FaIcon @icon="chevron-right" class="navbar__toggle" />
    {{/if}}
  </button>
  <div class="navbar__background"></div>
  <section class="navbar__image-wrapper">
    <LinkTo @route="index">
      <NachoAvatarImage
        class="profile-image"
        @img="assets/images/profile.jpg"
        @altText="Charlie Tran"
      />
    </LinkTo>
  </section>
  {{#if this.isExpanded}}
    <section class="navbar__title-wrapper">
      <h1 class="navbar__title">Charlie Tran</h1>
      <h2 class="navbar__subtitle">
        Sr. Software Engineer
        <a href="https://www.linkedin.com/in/charlie-tran" rel="noopener noreferrer" target="_blank">
          <FaIcon @icon="linkedin" class="navbar__title-icon" @prefix="fab" />
        </a>
        <a href="https://github.com/cptran777" rel="noopener noreferrer" target="_blank">
          <FaIcon @icon="github" class="navbar__title-icon" @prefix="fab" />
        </a>
      </h2>
    </section>
    <section class="navbar__links">
      <LinkTo @route="index" class="navbar__link">Home</LinkTo>
      <LinkTo @route="portfolio" class="navbar__link">Portfolio</LinkTo>
      <LinkTo @route="interests" class="navbar__link">Interests</LinkTo>
    </section>
  {{else}}
    <LinkTo @route="portfolio">
      <FaIcon @icon="palette" class="navbar__icon" />
    </LinkTo>
    <LinkTo @route="interests">
      <FaIcon @icon="gamepad" class="navbar__icon" />
    </LinkTo>
    <a href="https://www.linkedin.com/in/charlie-tran" rel="noopener noreferrer" target="_blank">
      <FaIcon @icon="linkedin" class="navbar__icon" @prefix="fab" />
    </a>
    <a href="https://github.com/cptran777" rel="noopener noreferrer" target="_blank">
      <FaIcon @icon="github" class="navbar__icon" @prefix="fab" />
    </a>
  {{/if}}
</nav>
{{yield}}